
        <div class="container-fluid" *ngIf="(compte | async)">
          <!--        <div class="text-center mt-5"><a class="btn btn-outline-primary" routerLink="../.." >← Retour</a></div>-->
          <br />
          <h3 class="text-dark mb-4">
            <H1 style="font-weight: bold;">
              <mat-card>
                <label
                  style="cursor: pointer;"
                  class="fas fa-arrow-circle-left"
                  routerLink="../.."
                ></label>
                Details de compte
              </mat-card></H1
            >
          </h3>
          <div class="row mb-3">
            <br />
            <div class="col-lg-4">
              <div class="card mb-3">
                <div class="card-body text-center shadow">
                  <h3 class="text-dark mb-4">
                    <mat-toolbar>
                      <mat-toolbar-row>
                        <span class="span">
                          <!--                        <H1 class="btn btn-success"> <i class="fas fa-dot-circle"  ></i>ACTIVE</H1>-->
                          <H1
                            *ngIf="(compte | async).statut.toString() == 'ACTIVE'"
                            style="color: #0f6848; font-weight: bold;"
                            >ACTIF</H1
                          >
                          <H1
                            *ngIf="(compte | async).statut.toString() == 'BLOCKED'"
                            style="color: #78261f; font-weight: bold;"
                            >BLOQUÉE</H1
                          >
                          <H1
                            *ngIf="(compte | async).statut.toString() == 'SUSPENDED'"
                            style="color: #c45529; font-weight: bold;"
                            >SUSPENDU</H1
                          >
                          <H1 style="color: #2a6496;text-transform: uppercase;" *ngIf="(compte | async).statut.toString() == 'PENDING_SUSPENDED'">En attente de suspension</H1>
                      <H1 style="color: #2a6496; text-transform: uppercase;" *ngIf="(compte | async).statut.toString() == 'PENDING_ACTIVE'">En attente d'activation</H1>
                      <H1 style="color: #2a6496;text-transform: uppercase;" *ngIf="(compte | async).statut.toString() == 'PENDING_BLOCKED'">En attente de blocage</H1>
                        </span>
                      </mat-toolbar-row>
                    </mat-toolbar>
                    <mat-card
                      ><h1 style="font-weight: bold;">
                        Compte : {{ (compte | async)?.numeroCompte }}</h1
                      >
                      <strong style="font-weight: bold;"
                        >Client : {{ (client | async)?.nom }} {{ (client | async)?.prenom }}</strong
                      ></mat-card
                    >
                  </h3>
                </div>
              </div>
              <div class="card shadow">
                <div class="card-header py-3">
                  <p class="text-primary m-0 font-weight-bold">Statut de compte</p>
                </div>
                <div class="card-body" *ngIf="(compte | async)">
                  <form
                    [formGroup]="compteStatusFormGroup"
                    (ngSubmit)="modifyCompteStatut()"
                  >
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group">
                          <label><strong>Statut actuel</strong><br /></label>
                          <select
                            class="form-control"
                            formControlName="statut"
                            value="{{ (compte | async).statut }}">
                            <optgroup label="États possibles du compte">
                              <option value="SUSPENDED">Suspendre</option>
                              <option value="BLOCKED">Bloquer</option>
                              <option value="ACTIVE">Activer</option>
                            </optgroup>
                          </select>
                        </div>
                        <!--                    <input class="form-control" type="text" value="Active"></div>-->
                      </div>
                    </div>
                    <div class="form-group">
                      <button class="btn btn-primary btn-sm" type="submit">
                        Enregistrer
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <div class="col-lg-8">
              <div class="row mb-3 d-none">
                <div class="col">
                  <div class="card text-white bg-primary shadow">
                    <div class="card-body">
                      <div class="row mb-2">
                        <div class="col">
                          <p class="m-0">Peformance</p>
                          <p class="m-0"><strong>65.2%</strong></p>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-rocket fa-2x"></i>
                        </div>
                      </div>
                      <p class="text-white-50 small m-0">
                        <i class="fas fa-arrow-up"></i>&nbsp;5% since last month
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card text-white bg-success shadow">
                    <div class="card-body">
                      <div class="row mb-2">
                        <div class="col">
                          <p class="m-0">Peformance</p>
                          <p class="m-0"><strong>65.2%</strong></p>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-rocket fa-2x"></i>
                        </div>
                      </div>
                      <p class="text-white-50 small m-0">
                        <i class="fas fa-arrow-up"></i>&nbsp;5% since last month
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="card shadow mb-3">
                    <div class="card-header py-3">
                      <p class="text-primary m-0 font-weight-bold">
                        Informations principales
                      </p>
                    </div>
                    <div class="card-body" *ngIf="compte">
                      <form
                        [formGroup]="compteFormGroup"
                        (ngSubmit)="modifyCompteinfo()"
                      >
                        <div class="form-row"></div>
                        <div class="form-row">
                          <div class="col">
                            <div class="form-group">
                              <label><strong>Intitule</strong></label>
                              <input
                                class="form-control"
                                formControlName="intitule"
                              />
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <label><strong>Solde (DH)</strong><br /></label>
                              <input
                                class="form-control"
                                formControlName="solde"
                              />
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <button class="btn btn-primary btn-sm" type="submit">
                            Enregistrer
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card shadow mb-5">
                <div class="card-header py-3">
                  <p class="text-primary m-0 font-weight-bold">
                    List des Virements
                  </p>
                </div>
                <div class="card-body" *ngIf="(compte | async)?.virements">
                  <div class="row">
                    <div class="col-md-6 text-nowrap">
                      <div
                        id="dataTable_length"
                        class="dataTables_length"
                        aria-controls="dataTable"
                      >
<!--                        <label-->
<!--                          >Show&nbsp;<select-->
<!--                            class="form-control form-control-sm custom-select custom-select-sm"-->
<!--                            ><option value="10" selected="">10</option-->
<!--                            ><option value="25">25</option-->
<!--                            ><option value="50">50</option-->
<!--                            ><option value="100">100</option></select-->
<!--                          >&nbsp;</label-->
<!--                        >-->
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div
                        class="text-md-right dataTables_filter"
                        id="dataTable_filter"
                      >
<!--                        <label>-->
<!--                          <input-->
<!--                            type="search"-->
<!--                            class="form-control form-control-sm"-->
<!--                            aria-controls="dataTable"-->
<!--                            placeholder="Search"-->
<!--                        /></label>-->
                      </div>
                    </div>
                  </div>
                  <div
                    class="table-responsive table mt-2"
                    id="dataTable"
                    role="grid"
                    aria-describedby="dataTable_info"
                  >
                    <table class="table dataTable my-0" id="dataTable">
                      <thead>
                        <tr>
                          <!--                  <th>Numero de compte</th>-->
                          <th>Compte destinataire</th>
                          <th>
                            Montant<strong style="font-size: 10px;">
                              (DH)</strong
                            >
                          </th>
                          <th>Notes</th>
                          <th>Date de virement</th>
                          <th>Statut</th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let virement of (compte | async).virements">
                        <tr>
                          <!--                  <td>{{compte.numeroCompte}}</td>-->
                          <td>{{ virement.destCompte.numeroCompte }}</td>
                          <td>{{ virement.montant }}</td>
                          <td>{{ virement.notes }}</td>
                          <td>
                            {{ virement.dateDeVirement | date: "yyyy-mm-dd" }}
                          </td>
                          <td
                            *ngIf="virement.statut.toString() == 'CONFIRMED'"
                            style="font-weight: bold; color: #0f6848;"
                          >
                            {{ virement.statut }}
                          </td>
                          <td
                            *ngIf="virement.statut.toString() != 'CONFIRMED'"
                            style="font-weight: bold; color: #78261f;"
                          >
                            {{ virement.statut }}
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <!--                  <td><strong>Numero de compte</strong></td>-->
                          <td><strong>Compte destinataire</strong></td>
                          <td>
                            <strong
                              >Montant<strong style="font-size: 10px;">
                                (DH)</strong
                              ></strong
                            >
                          </td>
                          <td><strong>Notes</strong></td>
                          <td><strong>Date de virement</strong></td>
                          <td><strong>Statut</strong></td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                  <div class="row">
                    <div class="col-md-6 align-self-center">
                      <p
                        id="dataTable_info"
                        class="dataTables_info"
                        role="status"
                        aria-live="polite"
                      >
                      </p>
                    </div>
<!--                    <div class="col-md-6">-->
<!--                      <nav-->
<!--                        class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers"-->
<!--                      >-->
<!--                        <ul class="pagination">-->
<!--                          <li class="page-item disabled">-->
<!--                            <a class="page-link" aria-label="Previous"-->
<!--                              ><span aria-hidden="true">«</span></a-->
<!--                            >-->
<!--                          </li>-->
<!--                          <li class="page-item active">-->
<!--                            <a class="page-link">1</a>-->
<!--                          </li>-->
<!--                          <li class="page-item"><a class="page-link">2</a></li>-->
<!--                          <li class="page-item"><a class="page-link">3</a></li>-->
<!--                          <li class="page-item">-->
<!--                            <a class="page-link" aria-label="Next"-->
<!--                              ><span aria-hidden="true">»</span></a-->
<!--                            >-->
<!--                          </li>-->
<!--                        </ul>-->
<!--                      </nav>-->
<!--                    </div>-->
                  </div>
                </div>
              </div>
              <div class="card shadow mb-5">
                <div class="card-header py-3">
                  <p class="text-primary m-0 font-weight-bold">
                    List des Recharges
                  </p>
                </div>
                <div class="card-body" *ngIf="(compte | async)?.recharges">
                  <div class="row">
                    <div class="col-md-6 text-nowrap">
                      <div
                        id="dataTable_length"
                        class="dataTables_length"
                        aria-controls="dataTable"
                      >
<!--                        <label-->
<!--                          >Show&nbsp;<select-->
<!--                            class="form-control form-control-sm custom-select custom-select-sm"-->
<!--                            ><option value="10" selected="">10</option-->
<!--                            ><option value="25">25</option-->
<!--                            ><option value="50">50</option-->
<!--                            ><option value="100">100</option></select-->
<!--                          >&nbsp;</label-->
<!--                        >-->
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div
                        class="text-md-right dataTables_filter"
                        id="dataTable_filter"
                      >
<!--                        <label>-->
<!--                          <input-->
<!--                            type="search"-->
<!--                            class="form-control form-control-sm"-->
<!--                            aria-controls="dataTable"-->
<!--                            placeholder="Search"-->
<!--                        /></label>-->
                      </div>
                    </div>
                  </div>
                  <div
                    class="table-responsive table mt-2"
                    id="dataTable"
                    role="grid"
                    aria-describedby="dataTable_info"
                  >
                    <table class="table dataTable my-0" id="dataTable">
                      <thead>
                        <tr>
                          <th>Telephone</th>
                          <th>
                            Montant<strong style="font-size: 10px;">
                              (DH)</strong
                            >
                          </th>
                          <th>Operateur</th>
                          <th>Date de recharge</th>
                          <th>Statut</th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let recharge of (compte | async)?.recharges">
                        <tr>
                          <td>{{ recharge.numeroTelephone }}</td>
                          <td>{{ recharge.montant }}</td>
                          <td>{{ recharge.operateur }}</td>
                          <td>
                            {{ recharge.dateDeRecharge | date: "yyyy-MM-dd" }}
                          </td>
                          <td style="font-weight: bold; color: #0f6848;">
                            {{ recharge.statut }}
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td><strong>Telephone</strong></td>
                          <td>
                            <strong
                              >Montant<strong style="font-size: 10px;">
                                (DH)</strong
                              ></strong
                            >
                          </td>
                          <td><strong>Operateur</strong></td>
                          <td><strong>Date de recharge</strong></td>
                          <td><strong>Statut</strong></td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                  <div class="row">
                    <div class="col-md-6 align-self-center">
                      <p
                        id="dataTable_info"
                        class="dataTables_info"
                        role="status"
                        aria-live="polite"
                      >
                      </p>
                    </div>
<!--                    <div class="col-md-6">-->
<!--                      <nav-->
<!--                        class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers"-->
<!--                      >-->
<!--                        <ul class="pagination">-->
<!--                          <li class="page-item disabled">-->
<!--                            <a class="page-link" aria-label="Previous"-->
<!--                              ><span aria-hidden="true">«</span></a-->
<!--                            >-->
<!--                          </li>-->
<!--                          <li class="page-item active">-->
<!--                            <a class="page-link">1</a>-->
<!--                          </li>-->
<!--                          <li class="page-item"><a class="page-link">2</a></li>-->
<!--                          <li class="page-item"><a class="page-link">3</a></li>-->
<!--                          <li class="page-item">-->
<!--                            <a class="page-link" aria-label="Next"-->
<!--                              ><span aria-hidden="true">»</span></a-->
<!--                            >-->
<!--                          </li>-->
<!--                        </ul>-->
<!--                      </nav>-->
<!--                    </div>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--        *********************************************** VIR ********************************************************-->

          <!--        ****************************************** Recharge **************************************************-->

          <div class="row mb-3">
            <div class="col-lg-8">
              <div class="row mb-3 d-none">
                <div class="col">
                  <div class="card text-white bg-primary shadow">
                    <div class="card-body">
                      <div class="row mb-2">
                        <div class="col">
                          <p class="m-0">Peformance</p>
                          <p class="m-0"><strong>65.2%</strong></p>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-rocket fa-2x"></i>
                        </div>
                      </div>
                      <p class="text-white-50 small m-0">
                        <i class="fas fa-arrow-up"></i>&nbsp;5% since last month
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card text-white bg-success shadow">
                    <div class="card-body">
                      <div class="row mb-2">
                        <div class="col">
                          <p class="m-0">Peformance</p>
                          <p class="m-0"><strong>65.2%</strong></p>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-rocket fa-2x"></i>
                        </div>
                      </div>
                      <p class="text-white-50 small m-0">
                        <i class="fas fa-arrow-up"></i>&nbsp;5% since last month
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
