<div class="container-fluid">
  <h3 class="text-dark mb-4">
    <H1 style="font-weight: bold;"><mat-card>Clients</mat-card></H1>
  </h3>
  <div class="card shadow">
    <div class="card-header py-3">
      <p class="text-primary m-0 font-weight-bold">List de clients</p>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 text-nowrap">
          <div
            id="dataTable_length"
            class="dataTables_length"
            aria-controls="dataTable"
          >
            <div class="col-md-6 text-nowrap">
              <div
                id="dataTable_length"
                class="dataTables_length"
                aria-controls="dataTable"
              >
                <input
                  type="search"
                  class="form-control form-control-sm"
                  aria-controls="dataTable"
                  placeholder="Search"
                  style="width: 208px;"
                />
              </div>
            </div>
            <!--                  <input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search" style="width: 208px;">-->
          </div>
        </div>
        <div class="col-md-6">
          <div class="text-md-right dataTables_filter" id="dataTable_filter">
            <button
              class="btn btn-primary"
              type="button"
              style="width: 110px; height: 41px;"
              mat-raised-button
              (click)="openDialog()"
            >
              Ajouter</button
            ><label></label>
          </div>
        </div>
      </div>
      <div
        class="table-responsive table mt-2"
        id="dataTable"
        role="grid"
        aria-describedby="dataTable_info"
      >
        <table class="table dataTable my-0" id="dataTable">
          <thead>
            <tr>
              <th>Nom et Prenom</th>
              <th>Email</th>
              <th>Confirmation d'email</th>
              <th>Telephone</th>
              <th>Date de creation</th>
              <th>Éditer</th>
              <!--                  <th>Comptes</th>-->
            </tr>
          </thead>
          <tbody *ngFor="let client of clients | async">
            <tr>
              <td>
                <img
                  class="rounded-circle mr-2"
                  width="30"
                  height="30"
                  *ngIf="client?.photo"
                  [src]="client.photo | photo | async"
                />
                <img
                  class="rounded-circle mr-2"
                  width="30"
                  height="30"
                  *ngIf="!client?.photo"
                  src="assets/img/profile/default.png"
                />
                <a routerLink="/accueil/clients/profile/{{ client.id }}"
                  >{{ client?.nom }} {{ client?.prenom }}</a
                ><br />
                <a *ngIf="client.numberOfDemandes >1"  (click)="openDemandes(client)" >
                  <strong style="color: #78261f;cursor: pointer" class="ml-3 mt-3">
                    <i width="10" height="10" class="btn-primary fas fa-clock text-white"></i> {{client.numberOfDemandes}} demandes</strong>
                </a>
                <a *ngIf="client.numberOfDemandes == 1"  (click)="openDemandes(client)" >
                  <strong style="color: #78261f;cursor: pointer" class="ml-3 mt-3">
                    <i width="10" height="10" class="btn-primary fas fa-clock text-white"></i> {{client.numberOfDemandes}} demande</strong>
                </a>
                <!--                  <a routerLink="../clients/demandes" ><strong style="color: #78261f;" class="ml-3 mt-3"><i width="10" height="10" class="btn-primary fas fa-clock text-white"></i> 2 demandes</strong></a></td>-->
              </td>

              <td>{{ client?.email }}</td>
              <td
                style="font-weight: bold; color: #0f6848;"
                *ngIf="client.emailConfirmed"
              >
                Confirmé
              </td>
              <td
                style="font-weight: bold; color: #78261f;"
                *ngIf="!client.emailConfirmed"
              >
                Non Confirmé
              </td>
              <td>{{ client?.numeroTelephone }}</td>
              <td>{{ client?.dateDeCreation | date: "yyyy-MM-dd" }}</td>
              <!--                  <td>-->
              <!--                    <button class="btn btn-primary" routerLink="../comptes">Voir</button>-->
              <!--                  </td>-->
              <td>
                <a
                  class="btn btn-primary btn-circle ml-1"
                  role="button"
                  routerLink="../clients/profile/{{ client.id }}"
                  (click)="clientProfile(client.id)"
                  ><i class="fas fa-user text-white"></i
                ></a>
                <a
                  class="btn btn-danger btn-circle ml-1"
                  role="button"
                  (click)="deleteClient(client.id)"
                  ><i class="fas fa-trash text-white"></i
                ></a>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td><strong>Nom et Prenom </strong></td>
              <td><strong>Email</strong></td>
              <td><strong>Confirmation</strong></td>
              <td><strong>Telephone</strong></td>
              <td><strong>Date de creation</strong></td>
              <td><strong>Éditer</strong></td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="row">
        <div class="col-md-6 align-self-center">
          <p
            id="dataTable_info"
            class="dataTables_info"
            role="status"
            aria-live="polite"
          >
            Showing 1 to 10 of 27
          </p>
        </div>
        <div class="col-md-6">
          <nav
            class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers"
          >
            <ul class="pagination">
              <li class="page-item disabled">
                <a class="page-link" aria-label="Previous"
                  ><span aria-hidden="true">«</span></a
                >
              </li>
              <li class="page-item active">
                <a class="page-link">1</a>
              </li>
              <li class="page-item"><a class="page-link">2</a></li>
              <li class="page-item"><a class="page-link">3</a></li>
              <li class="page-item">
                <a class="page-link" aria-label="Next"
                  ><span aria-hidden="true">»</span></a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
