<div class="container-fluid">
  <h3 class="text-dark mb-4">
    <H1 style="font-weight: bold;"><mat-card>Accueil</mat-card></H1>
  </h3>
  <div class="row">
    <!--          <div class="col-md-6 col-xl-3 mb-4">-->
    <!--&lt;!&ndash;            <div class="card shadow border-left-primary py-2" style="height: 124px;">&ndash;&gt;-->
    <!--&lt;!&ndash;              <div class="card-body">&ndash;&gt;-->
    <!--&lt;!&ndash;                <div class="row align-items-center no-gutters">&ndash;&gt;-->
    <!--&lt;!&ndash;                  <div class="col mr-2">&ndash;&gt;-->
    <!--&lt;!&ndash;                    <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span style="font-size: 15px;"></span></div>&ndash;&gt;-->
    <!--&lt;!&ndash;                    <div class="text-dark font-weight-bold h5 mb-0"><span> </span></div>&ndash;&gt;-->
    <!--&lt;!&ndash;                  </div>&ndash;&gt;-->
    <!--&lt;!&ndash;                  <div class="col-auto"><i class="fas fa-users fa-2x text-gray-300"></i></div>&ndash;&gt;-->
    <!--&lt;!&ndash;                </div>&ndash;&gt;-->
    <!--&lt;!&ndash;              </div>&ndash;&gt;-->
    <!--&lt;!&ndash;            </div>&ndash;&gt;-->
    <!--          </div>-->
    <div class="col-md-6 col-xl-3 mb-4">
      <div class="card shadow border-left-success py-2" style="height: 125px;">
        <div class="card-body" *ngIf="agent">
          <div class="row align-items-center no-gutters">
            <div class="col mr-2">
              <div
                class="text-uppercase text-success font-weight-bold text-xs mb-1"
              >
                <span style="font-size: 15px;">Agence</span>
              </div>
              <div class="text-dark font-weight-bold h5 mb-0">
                <span style="font-size: 18px;">{{
                  (agent | async)?.agence.libelleAgence
                }}</span
                ><br />
                <strong style="font-size: 15px; color: #5a5c69;">
                  {{ (agent | async)?.agence.ville.nom }}</strong
                >
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-home fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3 mb-4">
      <div class="card shadow border-left-warning py-2" style="height: 123px;">
        <div class="card-body">
          <div class="row align-items-center no-gutters">
            <div class="col mr-2">
              <div
                class="text-uppercase text-warning font-weight-bold text-xs mb-1"
              >
                <span style="font-size: 15px;">Clients</span>
              </div>
              <div class="text-dark font-weight-bold h5 mb-0">
                <span>{{ (clients | async)?.length }}</span>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-users fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3 mb-4"></div>
  </div>
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-lg-6 mb-4">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Clients</h2>
              <h3 class="text-muted card-subtitle mb-2">
                Consulter et gérer les clients
              </h3>
              <a routerLink="./clients">
                <button class="btn btn-primary">Voir plus<br /></button>
              </a>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <!--              <div class="col-lg-6 mb-4">-->
        <!--                <div class="card">-->
        <!--                  <div class="card-body">-->
        <!--                    <h2 class="card-title">Demandes</h2>-->
        <!--                    <h3 class="text-muted card-subtitle mb-2">Si vous voulez voir les demdanes</h3><button class="btn btn-primary" type="button" routerLink="../demandes" ><a>Voir les demandes</a><br></button></div>-->
        <!--                </div>-->
        <!--              </div>-->
        <div class="col-lg-6 mb-4">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Historique d'événements</h2>
              <h3 class="text-muted card-subtitle mb-2">
                Consulter le journal d'événements des clients<br />
              </h3>
              <button
                class="btn btn-primary"
                type="button"
                routerLink="../logs"
              >
                Voir plus
              </button>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
