<div>
  <main class="page registration-page"></main>
  <section>
    <div class="lgp-hd">
      <h1 style="font-size: 30px;"><strong>BIENVENUE CHEZ AKINOBANK</strong></h1>
      <h2><strong>Vue de l'agent&nbsp;</strong></h2>
    </div>
    <br>
    <div class="container login-cont">
      <div class="col"></div>
      <div class="row">
        <div class="col-10 col-sm-6 col-md-4 col-lg-4 offset-1 offset-sm-3 offset-md-4 offset-lg-4 login-col">
          <i class="icon ion-lock-combination"></i><br>
          <br>
          <form [formGroup]="forgetFormGroup" (ngSubmit)="forgetPassword()">
            <div class="form-group">
              <input class="form-control form-control-lg lg-frc" type="text" formControlName="email" placeholder="Votre Email"></div>
            <div class="form-group">
              <select
                class="form-control"
                label="sélectionner une option" formControlName="operation">
                  <option value="SETUP_PASSWORD"  > Renvoyer l'email de confirmation</option>
                  <option value="RECOVER_PASSWORD" selected> Mot de passe oublié</option>
              </select>

            </div>

            <div class="form-group">
              <br>
              <button class="btn btn-light" type="submit" [disabled]="!forgetFormGroup.valid"><strong>Envoyer</strong></button></div>
            <strong *ngIf="message" style="color: #721c24">{{message}}</strong>
            <strong *ngIf="done" style="color: #1cc88a">{{done}}</strong>
            <br>

            <a style="color: white;cursor: pointer;" routerLink="/login"> <i class="icon-arrow-left"></i>
              Retour</a>
          </form>
        </div>
      </div>
    </div>
  </section>

</div>
