<nav
  class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top"
  *ngIf="profile | async"
>
  <div class="container-fluid">
    <button
      class="btn btn-link d-md-none rounded-circle mr-3"
      id="sidebarToggleTop"
      type="button"
    >
      <i class="fas fa-bars"></i>
    </button>

    <ul class="nav navbar-nav flex-nowrap ml-auto">
      <li class="nav-item dropdown d-sm-none no-arrow">
        <a
          class="dropdown-toggle nav-link"
          data-toggle="dropdown"
          aria-expanded="false"
          ><i class="fas fa-search"></i
        ></a>
        <div
          class="dropdown-menu dropdown-menu-right p-3 animated--grow-in"
          role="menu"
          aria-labelledby="searchDropdown"
        >
          <form class="form-inline mr-auto navbar-search w-100">
            <div class="input-group">
              <input
                class="bg-light form-control border-0 small"
                type="text"
                placeholder="Search for ..."
              />
              <div class="input-group-append">
                <button class="btn btn-primary py-0" type="button">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li>
      <li class="nav-item dropdown no-arrow mx-1" role="presentation">
        <div class="nav-item dropdown no-arrow">
          <div
            class="dropdown-toggle nav-link"
            aria-expanded="false"
            (click)="showNotifications()"
          >
            <span
              class="badge badge-danger badge-counter"
              *ngIf="notificationsCount > 0"
              >{{ notificationsCount }}</span
            ><i class="fas fa-bell fa-fw"></i>
          </div>
          <div
            style="display: block;"
            class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in"
            role="menu"
            *ngIf="notificationsOpen"
          >
            <h6 class="dropdown-header">
              Notifications
              <i
                (click)="closeNotifications()"
                class="fas fa-window-close fa-fw"
                style="margin-left: 170px; width: 20px;"
              ></i>
            </h6>

            <div
              style="display: block !important; height: 80px;"
              class="d-flex align-items-center dropdown-item"
              *ngFor="let notification of notifications | async"
            >
              <span class="small text-gray-500">{{
                notification.dateDeNotification | date: "short"
              }}</span>
              <p style="margin: 0;">{{ notification.contenu }}</p>
            </div>
          </div>
        </div>
      </li>
      <div class="d-none d-sm-block topbar-divider"></div>
      <li class="nav-item dropdown no-arrow" role="presentation">
        <div class="nav-item dropdown no-arrow">
          <a
            class="dropdown-toggle nav-link"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            <span class="d-none d-lg-inline mr-2 text-gray-600 small"
              >{{ (profile | async).nom }} {{ (profile | async).prenom }}</span
            >
            <img
              class="border rounded-circle img-profile"
              *ngIf="(profile | async).photo"
              [src]="(profile | async).photo | photo: true | async" />
            <img
              class="border rounded-circle img-profile"
              *ngIf="!(profile | async).photo"
              src="assets/img/profile/default.png"
          /></a>

          <div
            class="dropdown-menu shadow dropdown-menu-right animated--grow-in"
            role="menu"
          >
            <a class="dropdown-item" role="presentation" routerLink="./profile"
              ><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i
              >&nbsp;Profil</a
            ><a class="dropdown-item" role="presentation"
              ><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i
              >&nbsp;Paramètres de compte</a
            >
            <a
              class="dropdown-item"
              role="presentation"
              routerLink="./historique"
              ><i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>Journal
              d'événement personnel</a
            >
            <div class="dropdown-divider"></div>
            <a
              class="dropdown-item"
              role="presentation"
              (click)="logout()"
              style="cursor: pointer;"
            >
              <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i
              >&nbsp;Déconnexion</a
            >
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
