<div id="page-top">
  <div id="wrapper">
    <nav
      class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0"
    >
      <div class="container-fluid d-flex flex-column p-0">
        <a
          class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
        >
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-piggy-bank"></i>
          </div>
          <div class="sidebar-brand-text mx-3"><span>AkiNOBANK</span></div>
        </a>
        <hr class="sidebar-divider my-0" />
        <ul class="nav navbar-nav text-light" id="accordionSidebar">
          <li class="nav-item" role="presentation">
            <a class="nav-link" routerLink="../accueil"
              ><i class="fas fa-tachometer-alt"></i><span>Accueil</span></a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" routerLink="../profile"
              ><i class="fas fa-user"></i><span>Profile</span></a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" routerLink="../clients"
              ><i class="fas fa-table"></i><span>Clients</span></a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" routerLink="../logs"
              ><i class="fas fa-table"></i><span>Journal d'événement</span></a
            >
          </li>
        </ul>
        <div class="text-center d-none d-md-inline">
          <button
            class="btn rounded-circle border-0"
            id="sidebarToggle"
            type="button"
          ></button>
        </div>
      </div>
    </nav>
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        <nav
          class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top"
        >
          <div class="container-fluid">
            <button
              class="btn btn-link d-md-none rounded-circle mr-3"
              id="sidebarToggleTop"
              type="button"
            >
              <i class="fas fa-bars"></i>
            </button>
            <form
              class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
            >
              <div class="input-group">
                <input
                  class="bg-light form-control border-0 small"
                  type="text"
                  placeholder="Search for ..."
                />
                <div class="input-group-append">
                  <button class="btn btn-primary py-0" type="button">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </form>
            <ul class="nav navbar-nav flex-nowrap ml-auto">
              <li class="nav-item dropdown d-sm-none no-arrow">
                <a
                  class="dropdown-toggle nav-link"
                  data-toggle="dropdown"
                  aria-expanded="false"
                  ><i class="fas fa-search"></i
                ></a>
                <div
                  class="dropdown-menu dropdown-menu-right p-3 animated--grow-in"
                  role="menu"
                  aria-labelledby="searchDropdown"
                >
                  <form class="form-inline mr-auto navbar-search w-100">
                    <div class="input-group">
                      <input
                        class="bg-light form-control border-0 small"
                        type="text"
                        placeholder="Search for ..."
                      />
                      <div class="input-group-append">
                        <button class="btn btn-primary py-0" type="button">
                          <i class="fas fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </li>
              <li class="nav-item dropdown no-arrow mx-1" role="presentation">
                <div class="nav-item dropdown no-arrow">
                  <a
                    class="dropdown-toggle nav-link"
                    data-toggle="dropdown"
                    aria-expanded="false"
                    ><span class="badge badge-danger badge-counter">3+</span
                    ><i class="fas fa-bell fa-fw"></i
                  ></a>
                  <div
                    class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in"
                    role="menu"
                  >
                    <h6 class="dropdown-header">alerts center</h6>
                    <a class="d-flex align-items-center dropdown-item">
                      <div class="mr-3">
                        <div class="bg-primary icon-circle">
                          <i class="fas fa-file-alt text-white"></i>
                        </div>
                      </div>
                      <div>
                        <span class="small text-gray-500"
                          >December 12, 2019</span
                        >
                        <p>A new monthly report is ready to download!</p>
                      </div>
                    </a>
                    <a class="d-flex align-items-center dropdown-item">
                      <div class="mr-3">
                        <div class="bg-success icon-circle">
                          <i class="fas fa-donate text-white"></i>
                        </div>
                      </div>
                      <div>
                        <span class="small text-gray-500"
                          >December 7, 2019</span
                        >
                        <p>$290.29 has been deposited into your account!</p>
                      </div>
                    </a>
                    <a class="d-flex align-items-center dropdown-item">
                      <div class="mr-3">
                        <div class="bg-warning icon-circle">
                          <i class="fas fa-exclamation-triangle text-white"></i>
                        </div>
                      </div>
                      <div>
                        <span class="small text-gray-500"
                          >December 2, 2019</span
                        >
                        <p>
                          Spending Alert: We've noticed unusually high spending
                          for your account.
                        </p>
                      </div> </a
                    ><a class="text-center dropdown-item small text-gray-500"
                      >Show All Alerts</a
                    >
                  </div>
                </div>
              </li>
              <li class="nav-item dropdown no-arrow mx-1" role="presentation">
                <div class="nav-item dropdown no-arrow">
                  <a
                    class="dropdown-toggle nav-link"
                    data-toggle="dropdown"
                    aria-expanded="false"
                    ><i class="fas fa-envelope fa-fw"></i
                    ><span class="badge badge-danger badge-counter">7</span></a
                  >
                  <div
                    class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in"
                    role="menu"
                  >
                    <h6 class="dropdown-header">alerts center</h6>
                    <a class="d-flex align-items-center dropdown-item">
                      <div class="dropdown-list-image mr-3">
                        <img
                          class="rounded-circle"
                          src="assets/img/avatars/avatar4.jpeg"
                        />
                        <div class="bg-success status-indicator"></div>
                      </div>
                      <div class="font-weight-bold">
                        <div class="text-truncate">
                          <span
                            >Hi there! I am wondering if you can help me with a
                            problem I've been having.</span
                          >
                        </div>
                        <p class="small text-gray-500 mb-0">
                          Emily Fowler - 58m
                        </p>
                      </div>
                    </a>
                    <a class="d-flex align-items-center dropdown-item">
                      <div class="dropdown-list-image mr-3">
                        <img
                          class="rounded-circle"
                          src="assets/img/avatars/avatar2.jpeg"
                        />
                        <div class="status-indicator"></div>
                      </div>
                      <div class="font-weight-bold">
                        <div class="text-truncate">
                          <span
                            >I have the photos that you ordered last
                            month!</span
                          >
                        </div>
                        <p class="small text-gray-500 mb-0">Jae Chun - 1d</p>
                      </div>
                    </a>
                    <a class="d-flex align-items-center dropdown-item">
                      <div class="dropdown-list-image mr-3">
                        <img
                          class="rounded-circle"
                          src="assets/img/avatars/avatar3.jpeg"
                        />
                        <div class="bg-warning status-indicator"></div>
                      </div>
                      <div class="font-weight-bold">
                        <div class="text-truncate">
                          <span
                            >Last month's report looks great, I am very happy
                            with the progress so far, keep up the good
                            work!</span
                          >
                        </div>
                        <p class="small text-gray-500 mb-0">
                          Morgan Alvarez - 2d
                        </p>
                      </div>
                    </a>
                    <a class="d-flex align-items-center dropdown-item">
                      <div class="dropdown-list-image mr-3">
                        <img
                          class="rounded-circle"
                          src="assets/img/avatars/avatar5.jpeg"
                        />
                        <div class="bg-success status-indicator"></div>
                      </div>
                      <div class="font-weight-bold">
                        <div class="text-truncate">
                          <span
                            >Am I a good boy? The reason I ask is because
                            someone told me that people say this to all dogs,
                            even if they aren't good...</span
                          >
                        </div>
                        <p class="small text-gray-500 mb-0">
                          Chicken the Dog · 2w
                        </p>
                      </div> </a
                    ><a class="text-center dropdown-item small text-gray-500"
                      >Show All Alerts</a
                    >
                  </div>
                </div>
                <div
                  class="shadow dropdown-list dropdown-menu dropdown-menu-right"
                  aria-labelledby="alertsDropdown"
                ></div>
              </li>
              <div class="d-none d-sm-block topbar-divider"></div>
              <li class="nav-item dropdown no-arrow" role="presentation">
                <div class="nav-item dropdown no-arrow">
                  <a
                    class="dropdown-toggle nav-link"
                    data-toggle="dropdown"
                    aria-expanded="false"
                    ><span class="d-none d-lg-inline mr-2 text-gray-600 small"
                      >DAOULAT KHALIL</span
                    ><img
                      class="border rounded-circle img-profile"
                      src="assets/img/dogs/image3.jpeg"
                  /></a>
                  <div
                    class="dropdown-menu shadow dropdown-menu-right animated--grow-in"
                    role="menu"
                  >
                    <a
                      class="dropdown-item"
                      role="presentation"
                      routerLink="../profile"
                      ><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i
                      >&nbsp;Profile</a
                    ><a class="dropdown-item" role="presentation"
                      ><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i
                      >&nbsp;Settings</a
                    >
                    <a
                      class="dropdown-item"
                      role="presentation"
                      routerLink="../logs"
                      ><i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i
                      >Journal d'événement</a
                    >
                    <div class="dropdown-divider"></div>
                    <a
                      class="dropdown-item"
                      role="presentation"
                      routerLink="../login"
                      ><i
                        class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                      ></i
                      >&nbsp;Logout</a
                    >
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
        <div class="container-fluid">
          <div class="text-center mt-5">
            <a class="btn btn-outline-primary" routerLink="../clients"
              >← Retour</a
            >
          </div>
          <h3 class="text-dark mb-4">Comptes</h3>
          <div class="card shadow">
            <div class="card-header py-3">
              <p class="text-primary m-0 font-weight-bold">
                Les Comptes de LAHMDI OUSSAMA
              </p>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6 text-nowrap">
                  <div
                    id="dataTable_length"
                    class="dataTables_length"
                    aria-controls="dataTable"
                  >
                    <input
                      type="search"
                      class="form-control form-control-sm"
                      aria-controls="dataTable"
                      placeholder="Search"
                      style="width: 208px;"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div
                    class="text-md-right dataTables_filter"
                    id="dataTable_filter"
                  >
                    <button
                      class="btn btn-primary"
                      type="button"
                      style="width: 110px; height: 41px;"
                      mat-raised-button
                      (click)="openDialog()"
                    >
                      Ajouter</button
                    ><label></label>
                  </div>
                </div>
              </div>
              <div
                class="table-responsive table mt-2"
                id="dataTable"
                role="grid"
                aria-describedby="dataTable_info"
              >
                <table class="table dataTable my-0" id="dataTable">
                  <thead>
                    <tr>
                      <th>Numero Compte</th>
                      <th>Intitule</th>
                      <th>Statut</th>
                      <th>Date de creation</th>
                      <th>Dernier operation</th>
                      <th>Details</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <a routerLink="../comptes/profile"> **********1254 </a>
                      </td>
                      <td>Oussama</td>
                      <td>Active</td>
                      <td>05-05-2020</td>
                      <td>06-05-2020</td>
                      <td>
                        <a
                          class="btn btn-primary btn-circle ml-1"
                          role="button"
                          routerLink="../comptes/profile"
                          ><i class="fas fa-book-open text-white"></i
                        ></a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a routerLink="../comptes/profile"> **********1857 </a>
                      </td>
                      <td>Abdo</td>
                      <td>Active</td>
                      <td>05-05-2020</td>
                      <td>06-05-2020</td>
                      <td>
                        <a
                          class="btn btn-primary btn-circle ml-1"
                          role="button"
                          routerLink="../comptes/profile"
                          ><i class="fas fa-book-open text-white"></i
                        ></a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a routerLink="../comptes/profile"> **********2563 </a>
                      </td>
                      <td>Inas</td>
                      <td>Bloqué</td>
                      <td>05-05-2020</td>
                      <td>06-05-2020</td>
                      <td>
                        <a
                          class="btn btn-primary btn-circle ml-1"
                          role="button"
                          routerLink="../comptes/profile"
                          ><i class="fas fa-book-open text-white"></i
                        ></a>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td><strong>Numero Compte</strong></td>
                      <td><strong>Intitule</strong></td>
                      <td><strong>Statut</strong></td>
                      <td><strong>Date de creation</strong></td>
                      <td><strong>Dernier operation</strong></td>
                      <td><strong>Details</strong></td>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <div class="row">
                <div class="col-md-6 align-self-center">
                  <p
                    id="dataTable_info"
                    class="dataTables_info"
                    role="status"
                    aria-live="polite"
                  >
                    Showing 1 to 10 of 27
                  </p>
                </div>
                <div class="col-md-6">
                  <nav
                    class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers"
                  >
                    <ul class="pagination">
                      <li class="page-item disabled">
                        <a class="page-link" aria-label="Previous"
                          ><span aria-hidden="true">«</span></a
                        >
                      </li>
                      <li class="page-item active">
                        <a class="page-link">1</a>
                      </li>
                      <li class="page-item"><a class="page-link">2</a></li>
                      <li class="page-item"><a class="page-link">3</a></li>
                      <li class="page-item">
                        <a class="page-link" aria-label="Next"
                          ><span aria-hidden="true">»</span></a
                        >
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="bg-white sticky-footer">
        <div class="container my-auto">
          <div class="text-center my-auto copyright">
            <span>Copyright © AKINO 2020</span>
          </div>
        </div>
      </footer>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"
      ><i class="fas fa-angle-up"></i
    ></a>
  </div>
</div>
