<div class="container">
  <div class="modal-top">
    <h2>Notifications</h2>
    <mat-icon
      style="opacity: 0.8; cursor: pointer;"
      class="close-btn"
      (click)="closeModal()"
      >cancel</mat-icon
    >
  </div>
  <hr />
  <div class="notifications-list">
    <div
      class="notification-item"
      *ngFor="let notification of notifications | async"
    >
      <div class="content">{{ notification.contenu }}</div>
      <div class="timestamp">
        {{ notification.dateDeNotification | date: "short" }}
      </div>
    </div>
  </div>
</div>
