<form class="custom-form" [formGroup]="addCompteFormGroup" (ngSubmit)="addClientCompte()" >
  <h1 mat-dialog-title>    <a class="btn btn-outline-primary" (click)="backToForm()" *ngIf="hideCompteForm"><-</a>
     Ajouter Compte </h1>
  <div class="form-row form-group" >
    <div class="col-sm-4 label-column">
      <label class="col-form-label" >Nom du client</label></div>

    <div class="col-sm-6 input-column">
      <div class="form-control">
        <label  style="font-weight: bold;" >{{client.nom}} {{client.prenom}}</label>
      </div>
    </div>

  </div>
  <div class="form-row form-group" *ngIf="!hideCompteForm">
    <div class="col-sm-4 label-column">
      <label class="col-form-label">Intitule</label></div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Ex. Oussama" formControlName="intitule" type="text">
    </mat-form-field>
  </div>
  <div class="form-row form-group" *ngIf="!hideCompteForm">
    <div class="col-sm-4 label-column">
      <label class="col-form-label" >Solde</label></div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="En. DH" formControlName="solde" type="number">
    </mat-form-field>
  </div>

  <mat-card-actions class="container pr-5 mb-0" *ngIf="!hideCompteForm">
    <button mat-raised-button class="btn-outline-primary ml-3 mt-3"  (click)="validerCompte()" >Ajouter</button>
    <button mat-button  class="btn-outline-primary ml-3 mt-3"  mat-dialog-close >Fermer</button>
  </mat-card-actions>

  <div class="form-row form-group" *ngIf="hideCompteForm">
    <div class="col-sm-4 label-column">
      <label class="col-form-label" >Votre Mot de passe</label></div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="mot de passe" formControlName="agentPassword" type="password">
    </mat-form-field>
    <strong style="color: #78261f" *ngIf="errorMessage" >* {{errorMessage}}</strong>
    <strong style="color: #0f6848" *ngIf="hideAjouterButton" >* Enregistrée</strong>

  </div>

  <mat-card-actions class="container pr-5 mb-0" *ngIf="hideCompteForm">
    <button mat-raised-button class="btn-primary ml-3 mt-3"  type="submit" *ngIf="!done && !click" >Ajouter</button>
    <button mat-raised-button class="btn-primary ml-3 mt-3"   *ngIf="click" ><i class="fas fa-cog fa-spin"></i></button>
    <button mat-raised-button class="btn-success ml-3 mt-3" mat-dialog-close  *ngIf="done" >Terminé</button>
    <button mat-button  class="btn-primary ml-3 mt-3"  mat-dialog-close *ngIf="!done" >Fermer</button>
  </mat-card-actions>

</form>

