<form class="custom-form">
  <h1 mat-dialog-title>Demandes des clients </h1>
  <div class="form-row form-group" >
    <div class="col-sm-4 label-column">
      <label class="col-form-label" >Nom du client</label></div>

    <div class="col-sm-6 input-column">
      <div class="form-control">
        <label  style="font-weight: bold;" >{{client.nom}} {{client.prenom}}</label>
      </div>
    </div>
  </div>

  <div
    class="table-responsive table mt-2"
    id="dataTable"
    role="grid"
    aria-describedby="dataTable_info">
    <table class="table dataTable my-0" id="dataTable">
      <thead>
      <tr>
        <th>Numero de compte</th>
        <th>Status</th>
        <th>Reponse</th>
      </tr>
      </thead>
      <tbody *ngFor="let compte of comptes" >
      <td style="font-weight: bold;" *ngIf="compte.statut !== 'ACTIVE' &&
      compte.statut !== 'BLOCKED' &&
      compte.statut !== 'SUSPENDED'">{{compte.numeroCompte}}</td>

      <td style="font-weight: bold;"
          *ngIf="compte.statut !== 'ACTIVE' &&
      compte.statut !== 'BLOCKED' &&
      compte.statut !== 'SUSPENDED'"
      >{{compte.statut}}</td>
      <a
        *ngIf="compte.statut !== 'ACTIVE' &&
      compte.statut !== 'BLOCKED' &&
      compte.statut !== 'SUSPENDED'"
        class="btn btn-primary btn-circle ml-1"
        role="button"
        (click)="acceptDemande(compte.numeroCompte)"
      ><i class="fas fa-check text-white"></i
      ></a>

      <a
        *ngIf="compte.statut !== 'ACTIVE' &&
      compte.statut !== 'BLOCKED' &&
      compte.statut !== 'SUSPENDED'"
        class="btn btn-danger btn-circle ml-1"
        role="button"
        (click)="deleteDemande(compte.numeroCompte)"
      ><i class="fas fa-times text-white"></i
      ></a>
      <!--        <td>{{ activity.category }}</td>-->
      <!--        <td>{{ activity.timestamp | date: "medium" }}</td>-->
      </tbody>
    </table>
  </div>






  <mat-card-actions class="container pr-5 mb-0" >
    <button mat-button  class="btn-primary ml-3 mt-3"  mat-dialog-close  >Fermer</button>
  </mat-card-actions>

</form>

