<form
  class="custom-form"
  [formGroup]="sendPasswordFormGroup"
  (ngSubmit)="onSubmit()"
>
  <h1 mat-dialog-title>
    Vérifier l'identité de l'agent
    <h3 style="font-weight: bold;">
      {{ (agent | async)?.nom }} {{ (agent | async)?.prenom }}
    </h3>
  </h1>

  <div class="form-row form-group">
    <div class="col-sm-4 label-column">
      <label class="col-form-label">Changement pour le client</label>
    </div>
    <div class="col-sm-6 input-column">
      <div class="form-control">
        <label style="font-weight: bold;"
          >{{ (client | async)?.nom }} {{ (client | async)?.prenom }}</label
        >
      </div>
    </div>
  </div>
  <div class="form-row form-group" *ngIf="client | async">
    <div class="col-sm-4 label-column">
      <label class="col-form-label">Votre Mot de passe</label>
    </div>
    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="mot de passe"
        formControlName="password"
        type="password"
        [disabled]="message"
      />
    </mat-form-field>
    <strong style="color: #78261f;" *ngIf="errorMessage"
      >* {{ errorMessage }}</strong
    >
    <strong style="color: #0f6848;" *ngIf="message">* {{ message }}</strong>
  </div>

  <mat-card-actions class="container pr-5 mb-0">
    <button
      mat-raised-button
      class="btn-primary ml-3 mt-3"
      type="submit"
      *ngIf="!done && !click"
    >
      Ajouter
    </button>
    <button mat-raised-button class="btn-primary ml-3 mt-3" *ngIf="click">
      <i class="fas fa-cog fa-spin"></i>
    </button>
    <button
      mat-raised-button
      class="btn-success ml-3 mt-3"
      mat-dialog-close
      *ngIf="done"
    >
      Terminé
    </button>
    <button
      mat-button
      class="btn-primary ml-3 mt-3"
      mat-dialog-close
      *ngIf="!done"
    >
      Fermer
    </button>
  </mat-card-actions>
</form>
