<div class="container-fluid">
  <!--          <div class="text-center mt-5"><a class="btn btn-outline-primary" routerLink="../.." >← Retour</a></div>-->
  <br />
  <h3 class="text-dark mb-4">
    <H1 style="font-weight: bold;">
      <mat-card>
        <label
          style="cursor: pointer;"
          class="fas fa-arrow-circle-left"
          routerLink="../.."
        ></label>
        Profil de client</mat-card
      ></H1
    >
  </h3>
  <div class="row mb-3">
    <div class="col-lg-4">
      <div class="card mb-3">
        <div class="card-body text-center shadow">
          <img
            class="rounded-circle mb-3 mt-4"
            *ngIf="profileImage"
            [src]="profileImage"
            width="160"
            height="160"
          />
          <img
            class="rounded-circle mb-3 mt-4"
            *ngIf="!profileImage"
            src="assets/img/profile/default.png"
            width="160"
            height="160"
          />
          <mat-toolbar>
            <mat-toolbar-row>
              <span class="span">
                <H1 style="font-weight: bold;"
                  >{{ (client | async)?.nom }}
                  {{ (client | async)?.prenom }}</H1
                >
                <strong
                  *ngIf="!(client | async)?.emailConfirmed"
                  style="color: #78261f; font-weight: bold; font-size: 17px;"
                  >Non Confirmé</strong
                >
                <strong
                  *ngIf="(client | async)?.emailConfirmed"
                  style="color: #0f6848; font-weight: bold; font-size: 17px;"
                  >Confirmé</strong
                >
              </span>
            </mat-toolbar-row>
          </mat-toolbar>
        </div>
      </div>
      <br />
      <div class="card shadow">
        <div class="card-header py-3">
          <p class="text-primary m-0 font-weight-bold">Adresse</p>
        </div>
        <div class="card-body" *ngIf="client">
          <form
            [formGroup]="clientContactFromGroup"
            (ngSubmit)="modifyClientContact()"
          >
            <div class="form-group">
              <label><strong>Ville</strong></label>
              <input class="form-control" type="text" formControlName="ville" />
            </div>
            <div class="form-group">
              <label><strong>Adresse</strong></label>
              <input
                class="form-control"
                type="text"
                formControlName="adresse"
              />
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-sm" type="submit">
                Sauvegarde
              </button>
            </div>
            <strong style="color: #0f6848;" *ngIf="formClientContacts"
              >Enregistrée</strong
            >
          </form>
        </div>

        <!--                <div class="card-body">-->
        <!--                  <form>-->
        <!--                    <div class="form-row">-->
        <!--                      <div class="col">-->
        <!--                        <div class="form-group"><label ><strong>Envoyer un nouveau Mot de Passe : </strong></label>-->
        <!--                          <div>-->
        <!--                            <button class="btn btn-primary" (click)="verificationDialog(2)">Envoyer</button>-->
        <!--                          </div>-->
        <!--                        </div>-->
        <!--                        <strong style="color: #0f6848;" *ngIf="formClientPassword" > * Bien envoyé</strong>-->
        <!--                      </div>-->
        <!--                    </div>-->
        <!--                  </form>-->
        <!--                </div>-->
      </div>
    </div>
    <div class="col-lg-8">
      <div class="row mb-3 d-none">
        <div class="col">
          <div class="card text-white bg-primary shadow">
            <div class="card-body">
              <div class="row mb-2">
                <div class="col">
                  <p class="m-0">Peformance</p>
                  <p class="m-0"><strong>65.2%</strong></p>
                </div>
                <div class="col-auto">
                  <i class="fas fa-rocket fa-2x"></i>
                </div>
              </div>
              <p class="text-white-50 small m-0">
                <i class="fas fa-arrow-up"></i>&nbsp;5% since last month
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-white bg-success shadow">
            <div class="card-body">
              <div class="row mb-2">
                <div class="col">
                  <p class="m-0">Peformance</p>
                  <p class="m-0"><strong>65.2%</strong></p>
                </div>
                <div class="col-auto">
                  <i class="fas fa-rocket fa-2x"></i>
                </div>
              </div>
              <p class="text-white-50 small m-0">
                <i class="fas fa-arrow-up"></i>&nbsp;5% since last month
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card shadow mb-3">
            <div class="card-header py-3">
              <p class="text-primary m-0 font-weight-bold">
                Informations personnelles
              </p>
            </div>
            <div class="card-body" *ngIf="client">
              <form
                [formGroup]="clientProfileFormGroup"
                (ngSubmit)="modifyClientProfile()"
              >
                <div class="form-row">
                  <div class="col">
                    <div class="form-group">
                      <label><strong>Nom</strong></label>
                      <input
                        class="form-control"
                        type="text"
                        formControlName="nom"
                      />
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label><strong>Prenom</strong></label>
                      <input class="form-control" formControlName="prenom" />
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col">
                    <div class="form-group">
                      <label><strong>Email</strong></label>
                      <input
                        class="form-control"
                        type="email"
                        formControlName="email"
                      />
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label><strong>Telephone</strong></label>
                      <input
                        class="form-control"
                        type="text"
                        formControlName="numeroTelephone"
                      />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-sm" type="submit">
                    Sauvegarde
                  </button>
                </div>
                <strong style="color: #0f6848;" *ngIf="formClientSettings"
                  >Enregistrée</strong
                >
              </form>
            </div>
          </div>
          <div class="card shadow">
            <div class="card-header py-3">
              <p class="text-primary m-0 font-weight-bold">
                Les Comptes
              </p>
            </div>
            <div class="card-body" *ngIf="client | async">
              <div class="row">
                <div class="col-md-6 text-nowrap">
                  <div
                    id="dataTable_length"
                    class="dataTables_length"
                    aria-controls="dataTable"
                  >
                    <input
                      type="search"
                      class="form-control form-control-sm"
                      aria-controls="dataTable"
                      placeholder="Search"
                      style="width: 208px;"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div
                    class="text-md-right dataTables_filter"
                    id="dataTable_filter"
                  >
                    <button
                      class="btn btn-primary"
                      type="button"
                      style="width: 110px; height: 41px;"
                      mat-raised-button
                      (click)="openDialog()"
                    >
                      Ajouter</button
                    ><label></label>
                  </div>
                </div>
              </div>
              <div
                class="table-responsive table mt-2"
                id="dataTable"
                role="grid"
                aria-describedby="dataTable_info"
              >
                <table class="table dataTable my-0" id="dataTable">
                  <thead>
                    <tr>
                      <th>Numero Compte</th>
                      <th>Intitule</th>
                      <th>Statut</th>
                      <th>Date de creation</th>
                      <th>Dernier operation</th>
                      <th>Details</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let compte of (client | async).comptes">
                    <tr>
                      <td>
                        <a
                          routerLink="./compte/{{ compte.numeroCompte }}"
                          style="font-weight: bold;"
                        >
                          {{ compte.numeroCompte }}
                        </a>
                      </td>
                      <td>{{ compte?.intitule }}</td>
                      <td *ngIf="compte.statut.toString() == 'ACTIVE'">
                        <label class="btn btn-success">ACTIF</label>
                      </td>
                      <td *ngIf="compte.statut.toString() == 'BLOCKED'">
                        <label class="btn btn-danger">BLOQUÉE</label>
                      </td>
                      <td *ngIf="compte.statut.toString() == 'SUSPENDED'">
                        <label class="btn btn-warning">SUSPENDU</label>
                      </td>
                      <td *ngIf="compte.statut.toString() == 'PENDING_SUSPENDED'">
                        <label class="btn btn-primary">En attente de suspension</label>
                      </td>
                      <td *ngIf="compte.statut.toString() == 'PENDING_ACTIVE'">
                        <label class="btn btn-primary">En attente d'activation</label>
                      </td>
                      <td *ngIf="compte.statut.toString() == 'PENDING_BLOCKED'">
                        <label class="btn btn-primary">En attente de blocage</label>
                      </td>
                      <td>
                        {{ compte?.dateDeCreation | date: "yyyy-MM-dd" }}
                      </td>
                      <td>
                        {{ compte?.dernierOperation | date: "yyyy-MM-dd" }}
                      </td>
                      <td>
                        <a
                          class="btn btn-primary btn-circle ml-1"
                          role="button"
                          (click)="resendCompteInfo(compte.numeroCompte)"
                        ><i class="fas fa-paper-plane text-white"></i
                        ></a>
                        <a
                          class="btn btn-primary btn-circle ml-1"
                          role="button"
                          routerLink="./compte/{{ compte.numeroCompte }}"
                          ><i class="fas fa-info-circle text-white"></i
                        ></a>
                        <a
                          class="btn btn-danger btn-circle ml-1"
                          role="button"
                          (click)="onDeleteCompte(compte.numeroCompte)"
                          ><i class="fas fa-trash text-white"></i
                        ></a>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td><strong>Numero Compte</strong></td>
                      <td><strong>Intitule</strong></td>
                      <td><strong>Statut</strong></td>
                      <td><strong>Date de creation</strong></td>
                      <td><strong>Dernier operation</strong></td>
                      <td><strong>Details</strong></td>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <div class="row">
                <div class="col-md-6 align-self-center">
                  <p
                    id="dataTable_info"
                    class="dataTables_info"
                    role="status"
                    aria-live="polite"
                  >
                  </p>
                </div>
<!--                <div class="col-md-6">-->
<!--                  <nav-->
<!--                    class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers"-->
<!--                  >-->
<!--                    <ul class="pagination">-->
<!--                      <li class="page-item disabled">-->
<!--                        <a class="page-link" aria-label="Previous"-->
<!--                          ><span aria-hidden="true">«</span></a-->
<!--                        >-->
<!--                      </li>-->
<!--                      <li class="page-item active">-->
<!--                        <a class="page-link">1</a>-->
<!--                      </li>-->
<!--                      <li class="page-item">-->
<!--                        <a class="page-link">2</a>-->
<!--                      </li>-->
<!--                      <li class="page-item">-->
<!--                        <a class="page-link">3</a>-->
<!--                      </li>-->
<!--                      <li class="page-item">-->
<!--                        <a class="page-link" aria-label="Next"-->
<!--                          ><span aria-hidden="true">»</span></a-->
<!--                        >-->
<!--                      </li>-->
<!--                    </ul>-->
<!--                  </nav>-->
<!--                </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button
    class="btn mt-3 btn-primary"
    style="width: -moz-available; width: -webkit-fill-available;"
    (click)="showActivities()"
    *ngIf="!activitiesExpanded"
  >
    Voir l'historique d'activités
  </button>
  <div class="card shadow" *ngIf="activitiesExpanded">
    <div class="card-header py-3">
      <p class="text-primary m-0 font-weight-bold">
        Historique d'activités
      </p>
    </div>
    <div class="card-body">
      <p *ngIf="!(activities | async).length">Aucune activités disponible.</p>
      <div
        class="table-responsive table mt-2"
        id="dataTable"
        role="grid"
        aria-describedby="dataTable_info"
        *ngIf="(activities | async).length"
      >
        <table class="table dataTable my-0" id="dataTable">
          <thead>
            <tr>
              <th>Évenement</th>
              <th>Catégorie</th>
              <th>Temps</th>
            </tr>
          </thead>
          <tbody *ngFor="let activity of activities | async">
            <td style="font-weight: bold;">{{ activity.evenement }}</td>
            <td>{{ activity.category }}</td>
            <td>{{ activity.timestamp | date: "medium" }}</td>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!--          <div class="card shadow mb-5">-->
  <!--            <div class="card-header py-3">-->
  <!--              <p class="text-primary m-0 font-weight-bold">List des Recharges</p>-->
  <!--            </div>-->
  <!--            <div class="card-body"></div>-->
  <!--            <div class="card-body">-->
  <!--              <div class="row">-->
  <!--                <div class="col-md-6 text-nowrap">-->
  <!--                  <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label>Show&nbsp;<select class="form-control form-control-sm custom-select custom-select-sm"><option value="10" selected="">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select>&nbsp;</label></div>-->
  <!--                </div>-->
  <!--                <div class="col-md-6">-->
  <!--                  <div class="text-md-right dataTables_filter" id="dataTable_filter"><label><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label></div>-->
  <!--                </div>-->
  <!--              </div>-->
  <!--              <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">-->
  <!--                <table class="table dataTable my-0" id="dataTable">-->
  <!--                  <thead>-->
  <!--                  <tr>-->
  <!--                    <th>Numero de compte</th>-->
  <!--                    <th>Operateur</th>-->
  <!--                    <th>Telephone</th>-->
  <!--                    <th>Date de recharge</th>-->
  <!--                    <th>Statut</th>-->
  <!--                  </tr>-->
  <!--                  </thead>-->
  <!--                  <tbody>-->
  <!--                  <tr>-->
  <!--                    <td>**********1254</td>-->
  <!--                    <td>+2126748596</td>-->
  <!--                    <td>blablo</td>-->
  <!--                    <td>06-05-2020</td>-->
  <!--                    <td style="font-weight: bold; color: #0f6848">Confirmé</td>-->
  <!--                  </tr>-->
  <!--                  <tr>-->
  <!--                    <td>**********1254</td>-->
  <!--                    <td>+2126785954</td>-->
  <!--                    <td>blablo1</td>-->
  <!--                    <td>07-05-2020</td>-->
  <!--                    <td style="font-weight: bold; color: #0f6848">Confirmé</td>-->
  <!--                  </tr>-->
  <!--                  </tbody>-->
  <!--                  <tfoot>-->
  <!--                  <tr>-->
  <!--                    <td><strong>Numero de compte</strong></td>-->
  <!--                    <td><strong>Operateur</strong></td>-->
  <!--                    <td><strong>Telephone</strong></td>-->
  <!--                    <td><strong>Date de recharge</strong></td>-->
  <!--                    <td><strong>Statut</strong></td>-->
  <!--                  </tr>-->
  <!--                  </tfoot>-->
  <!--                </table>-->
  <!--              </div>-->
  <!--              <div class="row">-->
  <!--                <div class="col-md-6 align-self-center">-->
  <!--                  <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 2 to 2 of 2</p>-->
  <!--                </div>-->
  <!--                <div class="col-md-6">-->
  <!--                  <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">-->
  <!--                    <ul class="pagination">-->
  <!--                      <li class="page-item disabled"><a class="page-link"  aria-label="Previous"><span aria-hidden="true">«</span></a></li>-->
  <!--                      <li class="page-item active"><a class="page-link" >1</a></li>-->
  <!--                      <li class="page-item"><a class="page-link" >2</a></li>-->
  <!--                      <li class="page-item"><a class="page-link" >3</a></li>-->
  <!--                      <li class="page-item"><a class="page-link"  aria-label="Next"><span aria-hidden="true">»</span></a></li>-->
  <!--                    </ul>-->
  <!--                  </nav>-->
  <!--                </div>-->
  <!--              </div>-->
  <!--            </div>-->
  <!--          </div>-->
</div>
