<div>
<main class="page registration-page"></main>
<section>
  <div class="lgp-hd">
    <h1 style="font-size: 30px;"><strong>BIENVENUE CHEZ AKINOBANK | ESPACE AGENT</strong></h1>
    <br>
    <img src="assets/img/logo.svg" >
  </div>
  <br>
  <div class="container login-cont">
    <div class="col"></div>
    <div class="row">
      <div class="col-10 col-sm-6 col-md-4 col-lg-4 offset-1 offset-sm-3 offset-md-4 offset-lg-4 login-col">
        <i class="icon ion-lock-combination"></i><br>
        <br>
        <form [formGroup]="loginFormGroup" (ngSubmit)="onLoginIn()">
          <div class="form-group">
            <input class="form-control form-control-lg lg-frc" type="text" formControlName="email" placeholder="Votre email"></div>
          <div class="form-group">
            <input class="form-control form-control-lg lg-frc" type="password" formControlName="password" placeholder="Votre mot de passe"></div>
          <div class="form-group">
            <br>
            <button class="btn btn-light" type="submit" ><strong>S'identifier</strong></button></div>
          <a style="color: white;cursor: pointer" routerLink="/forget-password">Problème de connexion ?</a>
        </form>
      </div>
    </div>
  </div>
</section>

</div>
