<div class="container-fluid">
  <h3 class="text-dark mb-4">
    <H1 style="font-weight: bold;"><mat-card>Journal d'événement</mat-card></H1>
  </h3>
  <div class="card shadow">
    <div class="card-header py-3">
      <p class="text-primary m-0 font-weight-bold">
        Journal d'événement
      </p>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 text-nowrap">
          <div
            id="dataTable_length"
            class="dataTables_length"
            aria-controls="dataTable"
          >
<!--            <label-->
<!--              >Show&nbsp;-->
<!--              <select-->
<!--                class="form-control form-control-sm custom-select custom-select-sm"-->
<!--              >-->
<!--                <option value="5">5</option>-->
<!--                <option value="10" selected="">10</option>-->
<!--                <option value="15">15</option>-->
<!--                <option value="20">20</option> </select-->
<!--              >&nbsp;</label-->
<!--            >-->
          </div>
        </div>
        <div class="col-md-6">
          <div class="text-md-right dataTables_filter" id="dataTable_filter">
<!--            <label-->
<!--              ><input-->
<!--                type="search"-->
<!--                class="form-control form-control-sm"-->
<!--                aria-controls="dataTable"-->
<!--                placeholder="Search"-->
<!--            /></label>-->
          </div>
        </div>
      </div>
      <div
        class="table-responsive table mt-2"
        id="dataTable"
        role="grid"
        aria-describedby="dataTable_info"
      >
        <table class="table dataTable my-0" id="dataTable">
          <thead>
            <tr>
              <th>Évenement</th>
              <th>Client</th>
              <th>Catégorie</th>
              <th>Temps</th>
            </tr>
          </thead>
          <tbody *ngFor="let activity of activities | async">
            <td style="font-weight: bold;">{{ activity.evenement }}</td>
            <td style="color: #2a6496; font-weight: bold;">
              <a routerLink="../clients/profile/{{ activity.user.id }}">
                {{ activity.user.nom }} {{ activity.user.prenom }}
              </a>
            </td>
            <td>{{ activity.category }}</td>
            <td>{{ activity.timestamp | date: "medium" }}</td>
          </tbody>
        </table>
      </div>
      <!-- <div class="row">
        <div class="col-md-6 align-self-center">
          <p
            id="dataTable_info"
            class="dataTables_info"
            role="status"
            aria-live="polite"
          >
            Showing 1 to 10 of {{ logs.totalElements }}
          </p>
        </div>
        <div class="col-md-6">
          <nav
            class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers"
          >
            <ul class="pagination" *ngFor="let page of pages">
              <li
                [ngClass]="
                  logs.number == page ? 'page-item active' : 'page-item'
                "
                style="margin-right: 2px; cursor: pointer;"
              >
                <a class="page-link" (click)="getEvents(page)">{{ page }}</a>
              </li>


            </ul>
          </nav>
        </div>
      </div> -->
    </div>
  </div>
</div>
