<div class="container-fluid">
  <!--        <h3 class="text-dark mb-4" ><H1 style="font-weight: bold;"><mat-card>{{profile?.nom}} {{profile?.prenom}}  </mat-card></H1>-->
  <h3 class="text-dark mb-4">
    <H1 style="font-weight: bold;"><mat-card>Mon profil </mat-card></H1>
  </h3>
  <div class="row mb-3" *ngIf="profile | async">
    <div class="col-lg-4">
      <div class="card mb-3">
        <div class="card-body text-center shadow">
          <mat-card
            ><H1 style="font-weight: bold;"
              >{{ (profile | async).nom }} {{ (profile | async).prenom }}</H1
            ></mat-card
          >
          <img
            class="rounded-circle mb-3 mt-4"
            *ngIf="(profile | async).photo"
            [src]="(profile | async).photo | photo: true | async"
            width="160"
            height="160"
          />
          <img
            class="rounded-circle mb-3 mt-4"
            *ngIf="!(profile | async).photo"
            src="assets/img/profile/default.png"
            width="160"
            height="160"
          />
          <div class="mb-3">
            <input type="File" value="change" (change)="selectPhoto($event)" />
            <button
              class="btn btn-primary"
              type="button"
              (click)="onUploadImage()"
              [disabled]="!selectedImage"
            >
              Upload
            </button>
            <button
              class="btn btn-danger btn-circle ml-1"
              role="button"
              [hidden]="!(profile | async).photo"
              (click)="onDeleteImage()"
            >
              <i class="fas fa-trash text-white"></i>
            </button>
          </div>
          <strong style="color: #78261f;" *ngIf="errorMessageImage">{{
            errorMessageImage
          }}</strong>
          <!--                  <div><input type="file" >Upload</div>-->
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body text-center shadow">
          <h3 class="text-dark mb-4">
            <mat-toolbar>
              <mat-toolbar-row>
                <span class="span">
                  <!--                        <H1 class="btn btn-success"> <i class="fas fa-dot-circle"  ></i>ACTIVE</H1>-->
                  <H1 style="font-size: 25px; font-weight: bold;">Agence</H1>
                </span>
              </mat-toolbar-row>
            </mat-toolbar>
            <mat-card
              ><H1> {{ (profile | async).agence.libelleAgence }}</H1>
              <strong style="font-weight: bold;">{{
                (profile | async).agence.ville.nom
              }}</strong></mat-card
            >
          </h3>
        </div>
      </div>
      <div class="card shadow" *ngIf="profile | async">
        <div class="card-header py-3">
          <p class="text-primary m-0 font-weight-bold">Mon adresse</p>
        </div>
        <div class="card-body">
          <form
            [formGroup]="agentContactFromGroup"
            (ngSubmit)="modifyAgentContact()"
          >
            <div class="form-row">
              <div class="col">
                <label><strong>Ville</strong></label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="ville"
                />
              </div>
              <div class="col">
                <label><strong>Adresse</strong></label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="adresse"
                />
              </div>
            </div>
            <br />
            <div class="form-group">
              <button class="btn btn-primary btn-sm" type="submit">
                Sauvegarde
              </button>
            </div>
            <strong style="color: #0f6848;" *ngIf="AgentContact"
              >Enregistrée</strong
            >
          </form>
        </div>
      </div>
      <br />
    </div>
    <div class="col-lg-8">
      <div class="row mb-3 d-none">
        <div class="col">
          <div class="card text-white bg-primary shadow">
            <div class="card-body">
              <div class="row mb-2">
                <div class="col">
                  <p class="m-0">Peformance</p>
                  <p class="m-0"><strong>65.2%</strong></p>
                </div>
                <div class="col-auto">
                  <i class="fas fa-rocket fa-2x"></i>
                </div>
              </div>
              <p class="text-white-50 small m-0">
                <i class="fas fa-arrow-up"></i>&nbsp;5% since last month
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-white bg-success shadow">
            <div class="card-body">
              <div class="row mb-2">
                <div class="col">
                  <p class="m-0">Peformance</p>
                  <p class="m-0"><strong>65.2%</strong></p>
                </div>
                <div class="col-auto">
                  <i class="fas fa-rocket fa-2x"></i>
                </div>
              </div>
              <p class="text-white-50 small m-0">
                <i class="fas fa-arrow-up"></i>&nbsp;5% since last month
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card shadow mb-3">
            <div class="card-header py-3">
              <p class="text-primary m-0 font-weight-bold">
                Informations personnelles
              </p>
            </div>
            <div class="card-body" *ngIf="profile">
              <form
                [formGroup]="agentSettingsFromGroup"
                (ngSubmit)="modifyAgentInfo()"
              >
                <div class="form-row">
                  <div class="col">
                    <div class="form-group">
                      <label><strong>Nom</strong></label>
                      <input
                        class="form-control"
                        type="text"
                        formControlName="nom"
                      />
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label><strong>Prenom</strong></label>
                      <input class="form-control" formControlName="prenom" />
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col">
                    <div class="form-group">
                      <label><strong>Email</strong></label>
                      <input
                        class="form-control"
                        type="email"
                        formControlName="email"
                      />
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label><strong>Telephone</strong></label>
                      <input
                        class="form-control"
                        type="text"
                        formControlName="numeroTelephone"
                      />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-sm" type="submit">
                    Sauvegarde
                  </button>
                </div>
                <strong style="color: #0f6848;" *ngIf="modifyAgent"
                  >Enregistrée</strong
                >
              </form>
            </div>
          </div>
          <div class="card shadow mb-3">
            <div class="card-header py-3">
              <p class="text-primary m-0 font-weight-bold">
                Paramètres de sécurité
              </p>
            </div>
            <div class="card-body">
              <form
                [formGroup]="passwordFromGroup"
                (ngSubmit)="checkPasswords()"
              >
                <div class="form-row">
                  <div class="col">
                    <div class="form-group">
                      <label><strong>Ancien Mot de Passe</strong></label>
                      <input
                        class="form-control"
                        matInput
                        formControlName="oldPassword"
                        placeholder="*************"
                        [type]="hide ? 'password' : 'text'"
                      />
                      <strong style="color: #78261f;" *ngIf="passwordWrongError"
                        >* {{ passwordWrongmessage }}</strong
                      >
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col">
                    <div class="form-group">
                      <label><strong>Nouveau Mot de Passe</strong></label>
                      <input
                        class="form-control"
                        matInput
                        formControlName="newPassword"
                        placeholder="*************"
                        [type]="hide ? 'password' : 'text'"
                      />
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col">
                    <div class="form-group">
                      <label><strong>Répéter le Mot de Passe</strong></label>
                      <input
                        class="form-control"
                        matInput
                        formControlName="confPassword"
                        placeholder="*************"
                        [type]="hide ? 'password' : 'text'"
                      />
                      <!--                              <input matInput [type]="hide ? 'password' : 'text'" >-->
                      <!--                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">-->
                      <!--                              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>-->
                      <!--                            </button>-->
                      <strong
                        style="color: #78261f;"
                        *ngIf="passwordMatchError"
                      >
                        * Le mot de passe ne correspond pas</strong
                      >
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-sm" type="submit">
                    Sauvegarde
                  </button>
                </div>
                <strong style="color: #0f6848;" *ngIf="saved">
                  * Enregistrée</strong
                ><br />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
