<div id="page-top">
  <div id="wrapper">
    <nav
      class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0"
    >
      <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0">
          <img src="assets/img/logo.svg" style="width: 180px;">
        </a>
        <hr class="sidebar-divider my-0" />
        <ul class="nav navbar-nav text-light" id="accordionSidebar">
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLink="./"
              ><i class="fas fa-tachometer-alt"></i><span>Accueil</span></a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" routerLinkActive="active" routerLink="./profile"
              ><i class="fas fa-user"></i><span>Profile</span></a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" routerLinkActive="active" routerLink="./clients"
              ><i class="fas fa-table"></i><span>Clients</span></a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" routerLinkActive="active" routerLink="./logs"
              ><i class="fas fa-table"></i><span>Journal d'événement</span></a
            >
          </li>
        </ul>
        <div class="text-center d-none d-md-inline">
          <button
            class="btn rounded-circle border-0"
            id="sidebarToggle"
            type="button"
          ></button>
        </div>
      </div>
    </nav>
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        <app-navbar-header></app-navbar-header>
        <router-outlet></router-outlet>
      </div>
      <footer class="bg-white sticky-footer">
        <div class="container my-auto">
          <div class="text-center my-auto copyright">
            <span>Copyright © AKINO 2020</span>
          </div>
        </div>
      </footer>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"
      ><i class="fas fa-angle-up"></i
    ></a>
  </div>
</div>
