<form class="custom-form" [formGroup]="addClientFormGroup" (ngSubmit)="addClient()" >
  <mat-toolbar>
    <mat-toolbar-row>
      <span class="span">
        <H1 style="font-weight: bold;" mat-dialog-title>Ajouter un nouveau client</H1>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
  <br>
<!--  <h1 mat-dialog-title>Ajouter Client</h1>-->
  <div class="form-row form-group">
    <div class="col-sm-4 label-column">
      <label class="col-form-label" >Nom</label></div>
    <div class="col-sm-6 input-column">
      <mat-form-field class="example-full-width">
        <input matInput plAKINOBANKaceholder="Ex. daoulat"  formControlName="nom" >
      </mat-form-field>
    </div>
  </div>
  <div class="form-row form-group">
    <div class="col-sm-4 label-column">
      <label class="col-form-label">Prenom</label></div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Ex. khalil" formControlName="prenom" >
      <label *ngIf="addClientFormGroup.get('prenom').errors"></label>
    </mat-form-field>
  </div>
  <div class="form-row form-group">
    <div class="col-sm-4 label-column">
      <label class="col-form-label" >Email</label></div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Ex. khalil@gmail.com" formControlName="email" >
    </mat-form-field>
  </div>
  <div class="form-row form-group">
    <div class="col-sm-4 label-column">
      <label class="col-form-label" >Telephone</label></div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Ex. +2126985745" formControlName="numeroTelephone" >
    </mat-form-field>
  </div>
  <mat-card-actions class="container pr-5 mb-0" >
    <button mat-raised-button class="btn-primary ml-3 mt-3"  type="submit" *ngIf="!done && !click" >Ajouter</button>
    <button mat-raised-button class="btn-primary ml-3 mt-3"   *ngIf="click " ><i class="fas fa-cog fa-spin"></i></button>
    <button mat-raised-button class="btn-success ml-3 mt-3" mat-dialog-close  *ngIf="done" >Terminé</button>
    <button mat-button  class="btn-primary ml-3 mt-3"  mat-dialog-close *ngIf="!done" >Fermer</button>
  </mat-card-actions>
</form>
